name: "GoReleaser Validation"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  GOPATH: /tmp/go

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
      - uses: crazy-max/ghaction-upx@v3
        with:
          install-only: true
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          args: build --snapshot --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
